.root{
    -fx-background-image: url("starset.png");
    -fx-background-size: cover;
    -fx-background-position:  center center;
}

.vbox{
	-fx-padding: 10.0px;
}
.hbox{
	-fx-padding: 20.0px;
}


.button{
	-fx-background-color: 
        linear-gradient(#686868 0.0%, #232723 25.0%, #373837 75.0%, #757575 100.0%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0.0%, #6b6a6b 20.0%, #343534 80.0%, #242424 100.0%),
        linear-gradient(#8a8a8a 0.0%, #6b6a6b 20.0%, #343534 80.0%, #262626 100.0%),
        linear-gradient(#777777 0.0%, #606060 50.0%, #505250 51.0%, #2a2b2a 100.0%);
    -fx-background-insets: 0.0,1.0,4.0,5.0,6.0;
    -fx-background-radius: 9.0,8.0,5.0,4.0,3.0;
    -fx-padding: 15.0 30.0 15.0 30.0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18.0px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255.0,255.0,255.0,0.2) , 1.0, 0.0 , 0.0 , 1.0);

}

.label{
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

#helpBtn{
	 -fx-padding: 0,0,0,0;
	-fx-background-insets: 0,0,0,0;
	-fx-scale-shape: true;
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: darkred;
	-fx-background-radius: 5.0em; 
	
	-fx-border-width: 2.0;
	-fx-border-radius: 5.0em;
	-fx-border-color: white;	
}


#quitBtn {
	 -fx-padding: 2,2,2,20;
	-fx-font-size: 15.0px;
	-fx-scale-shape: true;
}

.check-box > .box {
    -fx-padding: 7.0px;
}


.my-rect { -fx-fill: red; }
.my-btn { -fx-fill: red; }

.extinct-Dog{-fx-fill: url("/undeads/undead00.png");}
.extinct-Schnetler{-fx-fill: url("/undeads/undead11.png");}
.extinct-Fire{-fx-fill: url("/undeads/undead20.png");}
.extinct-Vacuum{-fx-fill: url("/undeads/undead31.png");}

.developedWeapon {
	 -fx-border-width: 5.0;	
	-fx-border-color: lightgreen;
}


#germanFlag {
	-fx-background-image: url("Flag_of_Germany.svg.png");
	-fx-background-size: stretch;
}
#americanFlag {
	-fx-background-image: url("2000px-US_15_Star_ANd_Stripes_Fort_McHenryFlag.svg.png");
	-fx-background-size: stretch;
}

#base {
	-fx-background-image: url("/planettiles/base.png");
	-fx-background-size: stretch;
	-fx-background-color: darkblue;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}


#weapon {
	-fx-background-image: url("/weapons/gun.png");
	-fx-background-size: stretch;
	-fx-background-color: orange;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

#dog {
	-fx-background-image: url("/weapons/dog.png");
	-fx-background-size: stretch;
	-fx-background-color: yellow;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
     -fx-max-height: 10.0px;
    -fx-max-width: 10.0px;
    -fx-pref-height: 10.0px;
    -fx-pref-width: 10.0px;
    
}
#fire {
	-fx-background-image: url("/weapons/fire.png");
	-fx-background-size: stretch;
	-fx-background-color: blue;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
#schnetler {
	-fx-background-image: url("/weapons/schnetler.png");
	-fx-background-size: stretch;
	-fx-background-color: green;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}
#vacuum {
	-fx-background-image: url("/weapons/vacuum.png");
	-fx-background-size: stretch;
	-fx-background-color: red;
	-fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

#title {
    -fx-font: 35.0px Helvetica;
    -fx-font-weight: bold;
    -fx-fill: blue;
    -fx-stroke-width: 1.5;
    -fx-stroke: black;  
    -fx-padding: 50.0px;  
}

#text {
    -fx-font: 30.0px Helvetica;
   	-fx-fill: white;
   	-fx-font-weight: bold;
   	-fx-stroke: black;
    -fx-stroke-width: 1.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,1.0) , 1.0,1.0,1.0,1.0 );
}

#endText {
    -fx-font: 50.0px Helvetica;
   	-fx-fill: #99eebb;
   	-fx-font-weight: bold;
   	-fx-stroke: black;
    -fx-stroke-width: 1.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,1.0) , 1.0,1.0,1.0,1.0 );
}

#info {
	 -fx-font: 12.0px Helvetica;
   	-fx-fill: white;
}
#numbers{
	-fx-font: 15.0px Helvetica;
		-fx-font-weight: bold;
   	
}
#errorTxt {
	 -fx-font: 30.0px Helvetica;
   	-fx-fill: black;
   	-fx-font-weight: bold;
}

#greybox {
	-fx-border-style: solid inside;
	-fx-border-width: 4.0;
	-fx-border-insets: 0.0;
	-fx-border-radius: 5.0;
	-fx-border-color: lightgrey;
	-fx-background-color: grey;
	-fx-background-radius: 5.0
}

#smlLgrButton {
	-fx-min-width: 50;
	-fx-pref-width: 50;
	-fx-max-width: 50;
	-fx-min-height: 50;
	-fx-pref-height: 50;
	-fx-max-height: 50;
    -fx-font-size: 18px;
    -fx-padding: 5 5 5 5;
}

#colorButton {
	-fx-min-width: 40;
	-fx-pref-width: 40;
	-fx-max-width: 40;
	-fx-min-height: 40;
	-fx-pref-height: 40;
	-fx-max-height: 40;
    -fx-font-size: 18px;
    -fx-padding: 10, 10, 10, 100;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
}

#toolBox {
	-fx-pref-width: 96;
	-fx-max-width: 96;
	-fx-pref-height: 96;
	-fx-max-height: 96;
	
	-fx-border-style: solid;
	-fx-border-width: 4;
	-fx-border-insets: 0;
	-fx-border-radius: 5;
	-fx-border-color: lightgrey;
	-fx-background-color: grey;
	-fx-background-radius: 5;
}

#cardLargeBack {
	-fx-background-color: grey;
	-fx-border-style: solid;
	-fx-border-color: white;
	-fx-border-width: 3;
}
#cardLargeFront {
	-fx-background-color: grey;
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 3;
}

#cardText {
	-fx-font: 26.0px Helvetica;
   	-fx-fill: white;
}
